<header class="site-header" role="banner">
	<div class="wrapper site-header__inner">
		<a href="/" class="site-header__brand">
			<img class="site-header__logo" src="{{ site.logo }}" />
		</a>
	</div>
</header>
