.button {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 1.5rem 4rem;
	text-decoration: none;
	text-align: center;
	border-radius: 2.8rem;
	display: inline-block;

	&:focus,
	&:hover {
		transition: .2s all ease;

		@media (prefers-reduced-motion) {
			transition: none;
		}
	}
}

.button--shadow {
 	box-shadow: 0 2.5rem 2.5rem -1rem rgba(81, 117, 255, .24);
}

.button--accent {
	background-color: var(--blue);
	color: white;
}

.button--bright {
	background-color: white;
	color: var(--blue);
}

.button--shade {
	background-color: var(--shade);
	color: var(--blue);
}
